@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);






#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#header1-1 H1 {
  text-align: left;
  color: #c1c1c1;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 60px;
}
#header1-1 P {
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
}
#footer1-2 P {
  color: #ffffff;
}
#header4-8 H1 {
  font-size: 60px;
}
#header4-8 I {
  font-family: 'Bitter', serif;
  font-size: 60px;
}
#header4-8 SPAN {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#header4-8 P {
  font-size: 15px;
}
#header4-8 B {
  font-family: 'Ubuntu', sans-serif;
  font-size: 21px;
}














#menu-1q .mbr-brand__name {
  font-size: 16px;
}
#menu-1q.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-1q .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1q .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#header1-1r H1 {
  text-align: left;
  color: #80c2bb;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 60px;
}
#header1-1r P {
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
}
#footer1-1s P {
  color: #ffffff;
}
#header4-1t H1 {
  font-size: 60px;
}
#header4-1t I {
  font-family: 'Bitter', serif;
  font-size: 60px;
}
#header4-1t SPAN {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#header4-1t P {
  font-size: 15px;
  text-align: center;
}
#header4-1t B {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#features1-1u P {
  color: #000000;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
#features1-1u .mbr-section__col .mbr-header__text {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  text-align: center;
}
#slider-1v P {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  color: #a38f84;
  text-align: right;
}
#slider-1v H1 {
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  text-align: right;
}
#slider-1v B {
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
  color: #9feadd;
}
#slider-1v I {
  font-family: 'Ubuntu', sans-serif;
  color: #faaf40;
}
#content5-1w .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#content5-1w .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1w .mbr-article {
  color: #fff;
}
#content5-1w .mbr-article P {
  text-align: center;
  color: #000000;
}
#social-buttons2-1x .mbr-header__text {
  font-family: 'Oswald', sans-serif;
}
